
.form{
    width: 100%;
   margin: 100px 0;
   display: flex;
    justify-content: center;

}
input[type="text"]{
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px
}
button{
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;   }








