.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}


.gallery-item{
width: calc((100% - 20px) / 6);
 border: 1px solid black;
 border-radius: 5px;
}
.gallery-link{
  text-decoration: none;
  color: black;
}
.gallery-image{
    min-width: 100%;
    max-height: 200px;
    min-height: 200px; 
}
.info-list{
display: flex;
}
.info-item-label{
    
    font-size: 14px;
    text-align: center;
    display: flex;
}
.info-item-value{
    font-size: 14px;
    text-align: center;
    display: flex;
    margin-left: 5px;
}
