/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */


/* Sections style */

@import url('./loader.css');
@import url('./gallery.css');
@import url('./base.css');
